// Body
$body_bg: #eee;

// Typography
$font_roboto: 'Roboto', sans-serif,'Times New Roman';
$font_poppins : 'Poppins',sans-serif;
$font_weight_light : 200;
$font_weight_mid : 400;
$font_weight_dark : 600;
$font-size-base: 0.9rem;

$letter_spacing_light: .2rem;
$line-height-base: 1.6;
$label_color: #373737;

$color_tertiary : rgba(194, 16, 194,.8);
$color_secondary : rgba(194, 16, 194,.6);

$box-shadow-light : rgba(0,0,0,.4);
$box-shadow-dark : rgba(0,0,0,.6);

$top : 10;